* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
}

ul {
  list-style: none;
}

.heading-1 {
  color: rgba(0, 119, 255, 0.562);
  text-align: center;
}

label {
  cursor: pointer;
}

label:hover span {
  background-color: orangered;
}

.Checkboxes {
  margin: 20px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  display: none;
}

span {
  background-color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 10px;
  position: relative;
}

.icon {
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#dislabled+label {
  color: #b8b8b8;
}

#dislabled+label>span {
  background-color: #ddd;
}


input:checked+label>span {
  background-color: orangered;
}

input:checked+label>span .icon {
  opacity: 1;
}