.heading {
  font-size: 1.25rem;
  font-weight: 700;
  color: $color-grey-dark;
  line-height: 3.375rem;
  text-transform: uppercase;
  text-align: center;
  color: $btn-color;
}
.text-color-1 {
  color: $color-grey-light-2;
}
.text-color-2 {
  color: $color-grey-dark;
}
.text-color-3 {
  color: $color-grey-light-3;
}
.paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: $color-grey-dark;
}
